.section1 {
  margin: 128px 71.5px;
  padding: 0px 40px;
  .left_side {
    h2 {
      font-size: 3rem;
      // line-height: 1.25;
      // font-weight: 600px;
      span {
        position: relative;
      }
      img {
        position: absolute;
        left: 19.75rem;
        bottom: 0.75rem;
        width: 126px;
        height: 24px;
      }
    }
    p {
      font-size: 1.125rem;
      line-height: 1.75rem;
      max-width: 32rem;
      margin: 28px 0px 0px;
      font-size: 18px;
      font-family: "Poppins", ui-sans-serif;
      color: #4b5563;
    }
    .buttons {
      margin: 28px 0px 0px;
      padding: 28px 0px 0px;
      .explore {
        text-decoration: none;
        outline: none;
        background-color: #0284c7;
        color: white;
        border-radius: 40px;
        padding: 12px 24px;
        font-weight: 50px;
        transition: 0.3s ease-in-out;
        svg {
          margin: 0px 0px 0px 10px;
        }
        &:hover {
          background-color: #045984;
          transition: 0.3s ease-in-out;
        }
      }
      .create {
        border: 1px solid rgba(171, 169, 169, 0.534);
        margin: 0px 0px 0px 16px;
        padding: 12px 24px;
        color: #374151;
        border-radius: 40px;
        text-decoration: none;
        outline: none;
        transition: 0.3s ease-in-out;
        svg {
          margin: 0px 0px 0px 10px;
        }
        &:hover {
          background-color: #dddfe1;
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
  .photo {
    justify-content: center;
    object-fit: cover;
    object-position: center;
    width: 584px;
    height: 345px;
    img {
      width: 100%;
      height: 100%;
      justify-content: center;
      object-fit: cover;
      object-position: center;
      overflow: hidden;
    }
  }
}
