@import "../../../scss/partials/varaible";
@import "../../../scss/partials/mixin";

.footer {
  .list {
    li {
      cursor: pointer;
      padding-bottom: 10px;
      display: flex;

      .images {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .second_list {
    li {
      color: #4b5563;
      font-size: 14px;
      font-family: "Poppins", ui-sans-serif;
      margin-top: 15px;
    }
  }
}
